<body>
    <header>
      <div class="firstBar">
        <div class="logo-container">
          <img
            src="https://images.vexels.com/media/users/3/131563/isolated/preview/93e49b6c5668d156aaee447bd9804fab-icono-de-circulo-de-periodico.png"
            alt="Logo del Periódico"
          />
          <h4>El Periodico</h4>
        </div>
          <div class="login">
            
            <a href="login.html">
              <i class="fa-solid fa-user"></i>
            </a>
          </div>  
      </div>

      <nav class="nav-container">
        <ul>
          <li><a [routerLink]="['/home/homepage']" href="#">Inicio</a></li>
          <li><a href="#">Actualidad</a></li>
          <li><a href="#">Deportes</a></li>
          <li><a href="#">Política</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <p>NOTICIAS</p>
      <section class="noticias-container">
        <article class="noticiasgrid">
          @for(article of publishedArticles; track $index) {
            <div class="{{ $index === 0 ? 'noticia-main' : 'noticia-' + $index }}">
              <h2>{{article.title}}</h2>
              <img src="{{article.image}}" alt="{{article.subtitle}}" />
              <p>{{article.author}}</p>
              <button [routerLink]="['/home/articleView/', article.id]">Ver más detalles</button> 
            
            </div>
          }
        </article>
      </section>
    </main>
    <footer>
      <p>&copy; 2025 Periódico Digital. Todos los derechos reservados.</p>
    </footer>
  </body>


