<body>
  <app-header></app-header>
    
    <main>
      <div class="title-container">
        <p class="title">NOTICIAS</p>
        <app-search></app-search>
      </div>
      
      <section class="noticias-container">
        <article class="noticiasgrid">
          @for(article of publishedArticles; track $index) {
            <div class="{{ 'noticia' }}" 
            [routerLink]="['/home/articleView', article.id]"
            (mouseenter)="mostrarMensaje= true"
            (mouseleave)="mostrarMensaje = false"
            (mousemove)="moverTooltip($event)"
            >
              <h2>{{article.title}}</h2>
              <img src="{{article.image}}" alt="{{article.subtitle}}" />
              <p class="author">{{article.author}}</p>
              <!--<span *ngIf="mostrarMensaje" 
              class="tooltip animate-tooltip" 
              [style.top.px]="tooltipY"
              [style.left.px]="tooltipX"> Ir a la noticia</span>-->
               
            
            </div>
          }
        </article>
      </section>
    </main>
   <app-footer></app-footer>
  </body>


